@import "global.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;
  color: $fontColor;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0;

  .pageContainer {
    padding: 0.5em;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: $appWidth;

    
    @media (orientation: portrait) and (max-width: $smallScreen) {
      width: 100%;
    }
  }
}
