@use "style/abstracts/global" as *;
.authPage {
  height: fit-content;
  padding: 0.5em;
  border-radius: 5em;
  

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin: 10px auto;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
}

