@use "../abstracts/global" as *;
@use "style/abstracts/colors" as *;

.mainBtns {
  border-radius: 32% 68% 55% 45% / 53% 35% 65% 47%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
//TODO : add theme to disabled btns 
.disabled {
  pointer-events: none;
  background-color: $disabled;
}

.singleBtnContainer { 
  display: grid;
  width: inherit;
  height: 30%;
  width: 100%;
  grid-template-columns:  0.2fr;
  justify-content: center;
  gap: 3vmin;
  margin: auto;
  padding: 1em;
  color: inherit;
  font-size: inherit;

  .authBtn {
    font: inherit;
      font-size: inherit;
      color: inherit;
  }


}
.twoBtnsContainer {
  display: grid;
  width: inherit;
  height: 100%;
  grid-template-columns: repeat(2, 0.2fr);
  justify-content: center;
  gap: 3vmin;
  margin: auto;
  
}

.threeInnerBtns {
}
