//pages inner container main parts

.innerContainer {
  background-color: brown;
  width: 100vmin;
  //height: 90vmin;
  height: inherit;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-rows: 20% 70% 10%;

  header {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    box-sizing: border-box;
    > * {
      width: 100%;
    }

    .title {
      background-color: chocolate;
      height: 70%;
    }
    .otherDetails {
      background-color: violet;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 30%;
    }
  }
  main {
    //flex-grow: 1;
    background-color: lightblue;
    padding: 0.3em;

    .innerButtonsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 0.7fr);
      grid-template-rows: repeat(2, 0.7fr);
      justify-content: center;
      align-content: center;
      background-color: red;
      gap: 3vmin;

      .navButton {
        background-color: chartreuse;
        border-radius: 32% 68% 55% 45% / 53% 35% 65% 47%;
        display: flex;
        cursor: pointer;
      }
    }

    .innerBtn {
      background-color: chartreuse;
      border-radius: 32% 68% 55% 45% / 53% 35% 65% 47%;
      display: flex;
      cursor: pointer;
    }

    .list {
      background-color: brown;
 
      // height: max-content;
      overflow-y: scroll;
      box-sizing: border-box;

      .listItem {
        //width: 98%;
        height: fit-content;
        background-color: greenyellow;
        margin: 0.1em;
        padding: 0.5em 1em;
        cursor: pointer;
        &:hover {
          color: red;
          background-color: yellowgreen;
        }
      }
    }
  }
  footer {
  }
}
