.boxdetailsSection {
  position: relative;
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > * {
      width: 100%;
    }
    .lastUpdate {
      display: flex;
      
      align-items: center;
      text-align: center;
      height: 10vmin;
      width:50vmin ;

    }
  }
}
