.welcomePage {
  background-color: brown;
  width: 100vmin;
  height: 100vmin;
  padding: 0.5em;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  

  header {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    box-sizing: border-box;
    > * {
      width: 100%;
    }

    .title {
      background-color: chocolate;
      height: 70%;
     
    }
    .otherDetails {
      background-color: violet;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 30%;
    }
  }
  main {
    background-color: lightblue;
 
  }

  
}
