@use "../abstracts/colors" as *;
@use "../abstracts/global" as *;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

body {
  padding: 0;
  margin: 0;
}
.appContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: blanchedalmond;
  font-family: "Oswald", sans-serif;
  font-size: $fontSize;

  //transition: background 0.2s linear;

  @media (orientation: portrait) and (max-width: $smallScreen) {
    font-size: $fontSizeMobile;
  }
  @media (orientation: landScape) and (max-width: $landScapeWidth) {
    font-size: $fontSizeMobile;
  }
}
.light {
  position: relative; 
  .text {
    color: $primary;
  }
  .background {
    background-color: $background;
    height: inherit;
    width: inherit;
    
  }
}

.dark {
  .text {
    color: $primary-dark;
  }
  .background {
    background-color: $background-dark;
    height: inherit;
    width: inherit;
  }
}

.columnFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.7em 1.2em;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: $fontSizeBtn;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  width: 100%;
  cursor: pointer;

  @media (orientation: portrait) and (max-width: $smallScreen) {
    font-size: $fontSizeBtnMobile;
  }

  @media (orientation: landScape) and (max-width: $landScapeWidth) {
    font-size: $fontSizeBtnMobile;

  }
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
a:-webkit-any-link {
  text-decoration: none;
  //color
}
