@use "../abstracts/colors" as *;
@use "../abstracts/global" as *;
@use "../components/button.scss" as *;
@use "../components/input.scss" as *;
@use "../components/innerContainer.scss" as *;


@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

body {
  padding: 0;
  margin: 0;
}

.appContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Oswald", sans-serif;
  font-size: $fontSize;

  //transition: background 0.2s linear;

  @media (orientation: portrait) and (max-width: $smallScreen) {
    font-size: $fontSizeMobile;
  }
  @media (orientation: landScape) and (max-width: $landScapeWidth) {
    font-size: $fontSizeMobile;
  }
}
.light {
  position: relative;
  .text {
    color: $primary;
  }
  .background {
    background-color: $appBgrd;
    height: inherit;
    width: inherit;
  }
}

.dark {
  .text {
    color: $primary-dark;
  }
  .background {
    background-color: $background-dark;
    height: inherit;
    width: inherit;
  }
}

.columnFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startColumnFlex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.rowFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none;
  //color
}

.list::-webkit-scrollbar {
  width: 1em;
}
 
 .list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
 .list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
