.mainfooter {
    background-color: lightcoral;
    width: 100vmin;
    height:7vh;
    display : grid ;
    grid-template-columns: 70% 30%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
   
  }