@use "style/abstracts/colors" as *;
.mainfooter {
  background-color: $mainSectionsBg;
  width: 100vmin;
  height: 7vh;
  display: grid;
  grid-template-columns: 60% 30%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  margin: auto;
}

.light {
  .mainfooter {
    color: $footerColor;
  }
}

.dark {
  .mainfooter {
    color: $footerColorDark;
  }
}
