.instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    position: relative;
    bottom: -10px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center; 

    ul {
        text-align: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}