@use "style/abstracts/colors" as *;
.sharedBoxDetailsWrapper {
  width: 100%;

  box-sizing: border-box;

  .details {
    display: flex;
    justify-content: space-around;
    background-color: $innerMainBg;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    .keyBox {
      display: grid;
      grid-template-columns: 60% 40%;
      padding: 0.2em;
      .shareIcon {
        display: block;
        cursor: pointer;
      }
    }

    .authorized {
      .cbx {
        height: 1.5em;
        width: 1.5em;
        margin-right: 1em;
      }
    }
  }

  .usersListWrapper {
    display: flex;
    flex-direction: column;

    .subtitle {
      margin: 0.5em;
    }
  }
}

#newBox {
}
#details {
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
}
