.sharedBoxDetailsWrapper {
  width: 100%;
  height: 100%;
  background-color: darkgoldenrod !important;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15% 85%;

  .details {
    display: flex;
    justify-content: space-around;
    background-color: red;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    .keyBox {
      background-color: salmon;
      display: grid;
      grid-template-columns: 60% 40%;
      .shareIcon {
        display: block;
        cursor: pointer;

        &:hover {
          color: rebeccapurple;
        }
      }
    }

    .authorized {
      .cbx {
        height: 1.5em;
        width: 1.5em;
        margin-right: 1em;
      }
    }
  }
  /*> div {
    width: 100%;
    background-color: chocolate;
  }

  .keyBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    > div {
      border: 3px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .key {
      width: 50%;
    }
    .shareKey {
      width: 20%;
    }
  }

  .authorized {
  }*/
}
