.mainHeader {
  background-color: chocolate;
  height: 70%;
  //background-color: red;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  .svgWrapper {
    box-sizing: border-box;
    background-color: grey;
    height: 100%;
    margin: auto;
    padding: 0.2em;
    //border-radius:46% 54% 47% 53% / 70% 73% 27% 30% ;
  
    .home {
        width : 10vmin ;
        height: 10vmin;
    }
    .logo {

    }
  }
}
