@use "style/abstracts/colors" as *;
.contactIconsWraper {
  display: grid;
  grid-template-columns: repeat(4,1fr);

  .link {
    display: block;
    width: 1em;
    box-sizing: border-box;
    overflow: hidden;
    .contactIcon {
      fill: $blue-200;
      cursor: pointer;
      &:hover {
        fill: $blue-500;
      }


    }
  }

  

}
