

$green: #c2f970;
$Aqua: #b4fee7;
$Fuchsia: #fd49a0;
$Violet: #a16ae8;
$DarkBlue: #050a30;
$NavyBlue: #000c66;
$BabyBlue: #7ec8e3;
$Rosewater: #ffc2c7;

//light
$primary: $Fuchsia;
$secondary: $Violet;
$background: $Aqua;
//dark
$primary-dark: $BabyBlue;
$secondary-dark: $Rosewater;
$background-dark: $DarkBlue;
