

$green: #c2f970;
$Aqua: #9eccf8;
$Fuchsia: #fd49a0;
$Violet: #8432f0;
$DarkBlue: #001eff;
$NavyBlue: #000c66;
$BabyBlue: #7ec8e3;
$Rosewater: #fde9eb;
$Rosewater2: #fed9dd;
$test : #FBFAF5 ; 
$test2 : #00bbf9 ;
$mainBlue: #001eff;
$HoverBlue: #000c66;

$blue-50 : #e3f2fd ;
$blue-100 : #bbdefb;
$blue-200 : #90caf9 ;
$blue-300 : #64b5f6 ;
$blue-400 : #42a5f5 ;
$blue-500 : #2196f3 ;
$blue-600 : #1e88e5 ;
$blue-700 : #1976d2 ;
$blue-800 : #1565c0;
$blue-900 : #0d47a1 ;

//light theme 
$appBgrd : #51557E;
//$appBgrd : $Rosewater;
$sectionBg : $Fuchsia ;
$mainSectionsBg :$Rosewater2;
$primary:$mainBlue;
$secondary: $HoverBlue ;
$footerColor : $blue-600;
$title : $mainBlue;
$subheader : $HoverBlue; 
$mainBtnBgd :$Aqua ;
$home : #937DC2;
$homeHover : #563056; 
$mainClickableBgd :$Aqua ; 
$hoverBg : $HoverBlue;
$hoverColor :$blue-50  ;
$innerMainBg : $blue-100 ;
$disabled :$blue-50 ; 
$border : black ; 




//dark theme 
$appBgrdDark :#51557E;
//$appBgrdDark :#2C394B;
$sectionBgDark :#16213E;
$mainSectionsBgDark :#0F3460;
//$primaryDark :#F2DF3A;
//$primaryDark :#FFF9B0;
$primaryDark :$blue-50;
$secondaryDark : $blue-600 ;
$titleDark : #E94560 ;
$subheaderDark : $blue-100; 
$homeDark : #563056;
$homeHoverDark : $Rosewater; 
//$mainClickableBgdDark : #E94560; 
//$mainClickableBgdDark : #9C0F48; 
$mainClickableBgdDark : #470D21; 
//$hoverBgDark : #FFB200;
//$hoverColorDark :#C21010  ;
$hoverBgDark : $blue-300;
$hoverColorDark :#C21010 ;
$innerMainBgDark : $blue-100 ;
$disabledDark :$blue-50 ; 
$borderDark : $blue-50  ; 
$footerColorDark : $blue-200;

