

$green: #c2f970;
$Aqua: #9eccf8;
$Fuchsia: #fd49a0;
$Violet: #a16ae8;
$DarkBlue: #001eff;
$NavyBlue: #000c66;
$BabyBlue: #7ec8e3;
$Rosewater: #fde9eb;
$Rosewater2: #fed9dd;
$test : #FBFAF5 ; 
$test2 : #00bbf9 ;
$mainBlue: #001eff;
$HoverBlue: #000c66;

$blue-50 : #e3f2fd ;
$blue-100 : #bbdefb;
$blue-200 : #90caf9 ;
$blue-300 : #64b5f6 ;
$blue-400 : #42a5f5 ;
$blue-500 : #2196f3 ;
$blue-600 : #1e88e5 ;
$blue-700 : #1976d2 ;
$blue-800 : #1565c0;
$blue-900 : #0d47a1 ;

//light theme 
$appBgrd : $Rosewater;
$sectionBg : $Fuchsia ;
$mainSectionsBg :$Rosewater2;
$primary:$mainBlue;
$secondary: $HoverBlue ;
$title : $mainBlue;
$subheader : $Violet; 
$mainBtnBgd :$Aqua ;


//dark theme 
$appBgrdDark : $NavyBlue;
$primaryDark :$green ;
$secondaryDark : $blue-600 ;





//light
//$primary: $Fuchsia;
//$secondary: $Violet;
//$background: $test;
//dark
//$primary-dark: $BabyBlue;
$secondary-dark: $Rosewater;
$background-dark: $DarkBlue;
