@import "global.scss";

.newBoxPage {
  justify-content: space-around;
  row-gap: 1em;

  > * {
    border: 3px solid black;
    background-color: brown;
    width: 100%;
  }
  .boxDetails {
    height: 25%;
  }


  .createBtn {
    margin-top: auto;
    height: 10%;
    align-self: flex-end;
  }
}
