
.randomWrapper {
  text-align: center;
 height:fit-content;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns:70% 15% 15% ;
 
  .random ,.show{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

}
