@use "style/abstracts/colors" as *;
.depositSection {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  
    .depositOptions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 10%;
      background-color: $innerMainBg ;

      .selected{

      }
    }

  }
}
