.createBoxSection {
  .optionWrapper {
    .radioBtn {
      //margin-right: 0.7em;
      //transform: scale(1.5);
    }
  }

  main {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    .boxNameBox {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      margin-bottom: 10px;
      #boxName {
        width: fit-content;
      }
    }

    .secBtnWrapper {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 0.2fr);

      gap: 3vmin;
      justify-content: center;
      align-self: flex-end;
      margin-top: auto;
      padding: 0.4em;
      box-sizing: border-box;
    }
  }
  footer {
  }
}
