@use "style/abstracts/global" as *;
.iconWrapper {
  box-sizing: border-box;
  background-color: grey;
  position: relative;
  margin: auto;
  padding: 0.2em;
  width: inherit;
  //border-radius:46% 54% 47% 53% / 70% 73% 27% 30% ;
  
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
  }
}
